.WindowMenus {
  display: flex;
  gap: 1rem;
}

.WindowMenus .submenu-wrapper,
.WindowMenus .menu {
  position: relative;
}

.WindowMenus .menu-option:hover {
  background-color: gray;
}

.WindowMenus .submenu {
  position: absolute;
  top: 0;
  left: 100%;

  max-width: 200px;
  min-width: 50px;

  background-color: white;
  border: 1px solid #ccc;


  display: flex;
  flex-direction: column;

  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;

}

.WindowMenus .submenu.depth-0 {
  left: 0;
  top: 100%;
}

.WindowMenus .submenu-wrapper .submenu {
  top: 0;
}







/* mostrar los submenus sequencialmente con el hover */
.WindowMenus .submenu {
  display: none;
}

.WindowMenus .submenu-wrapper:hover>.submenu {
  display: flex;
}


.WindowMenus .submenu.depth-0 {
  display: flex;
}




/* APPEARENCE */

.WindowMenus .submenu-arrow {
  font-size: 10px;
  margin-left: 10px;
}

.WindowMenus .submenu {
  background: #c0c0c0;
  border: 2px solid;
  border-color: white gray gray white;
  box-shadow: none;
}

.WindowMenus .menu-option {
  padding: 4px 8px;
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  color: black;
  cursor: default;
  user-select: none;
}

.WindowMenus .menu-option:hover {
  background: navy;
  color: white;
}