.WindowTemplate {
  position: absolute;
  min-height: 100px;
  min-width: 200px;

  top: 0;
  left: 0;

  background-color: white;

  z-index: 100;

  border: 1px solid black;
}


.WindowTemplate.minimized {
  display: none;
}

.WindowTemplate.maximized {
  top: 0 !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
}

.WindowTemplate header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(47, 108, 170);
  color: white;
  padding-left: .5rem;

  -webkit-user-select: none;
  user-select: none;
}