.TaskBar {
  width: 100%;
  height: 20px;
  background-color: #349;
}



.TaskBar .task {
  border: 3px outset #888;
  background-color: #aaa;
  padding: 2px 5px;
  cursor: pointer;

  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.TaskBar .task.focus {
  border-style: inset;
  background-color: #eaeaea;
}